@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}
header {
    background-color: #FFC4EB;
    padding-top: 10px;
    padding-bottom: 7px;
}
header h2 {
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
section h2 {
    padding-left: 20px;
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
}
article {
    padding-top: 20px;
}
article h3 {
    font-size: 18px;
    font-weight: 600;
}
.button {
    padding-top: 20px;
    padding-bottom: 40px;
}
#place {
    display: none;
}
.btn-link {
    text-decoration: none;
    color: #0d0d0d;
}
.btn-link:hover {
    text-decoration: none;
    color: #0d0d0d;
}
.btn-link::after {
    text-decoration: none;
    color: #0d0d0d;
}